<main class="flex flex-col w-full items-center font-parkinsans">
    <h1 class="font-bold text-4xl mt-6"><%= list.name %></h1>

    <ul>
        <br>
        <% list.content.forEach(item => { %>
            <li>
                <strong><%= item.key %>:</strong> <%= item.value %>
            </li>
        <% }) %>
    </ul>
    <% if (editPerm) { %>
        <a class="font-bold hover:text-oceanBlue mt-8" href="/edit/<%= list._id %>/">Modifier cette liste</a>
    <% } %>

    <% if (list.content.length > 0) { %>
        <a class="font-bold hover:text-oceanBlue mt-8" href="/flashcard/<%= list._id %>/">Flashcard</a>
        <a class="font-bold hover:text-oceanBlue mt-8" href="/test/<%= list._id %>/">Test</a>
    <% } else { %>
        <h3>La liste est vide</h3>
    <% } %>
    

</main>
