<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test - <%= list.name %></title>
</head>
<body>
    <h1>Test de <%= list.name %></h1>

    <form action="/test/submit" method="POST">
        <input type="hidden" name="listId" value="<%= list._id %>">

        <% questions.forEach((question, index) => { %>
            <div>
                <label><%= question.key %></label>
                <input type="text" name="answers[<%= index %>]" required>
            </div>
        <% }); %>

        <button type="submit">Soumettre</button>
    </form>
</body>
</html>
